<p>home list</p>
<h2>Custom Attribute Directives</h2>

<p appCpDefaultTheme> cpDefaultTheme Directive Demo</p>

 <h4 [appCpColor]="titleColor"> cpColor Directive Demo</h4>
<h1 appCpSample>sample directive</h1>

<p defColOnEvent> defColOnEvent Directive Demo</p>
<!--<div cpCustomTheme> cpCustomTheme Directive Demo with Default Settings</div>

<div cpCustomTheme tcolor="blue" tsize="30px"> cpCustomTheme Directive Demo with Custom Settings</div>

 -->

<!-- <div>
  <select [(ngModel)] ="myColor">
        <option value='' selected disabled> Select Color </option> 
	<option *ngFor = "let color of colors" [value] = "color">
		{{color}}
	</option>
  </select>
  <p [dynamicColOnEvent]="myColor" defaultValue="blue"> dynamicColOnEvent Directive Demo</p>
</div> -->

<div style="width: 40%; margin: 0px auto;">
    <h2>Login</h2>
    <form [formGroup]="tmpForm" (ngSubmit)="save()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.minlength">minimum 8 characters</div>
          </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
