<!-- <section class="sample-app-content">
        <h1>Template-driven Form Example:</h1>
        <form #login="ngForm" (ngSubmit)="onSubmitTemplateBased(login.form)">
                <input type="text" name="email" placeholder="email" ngModel #emailField="ngModel" required>
                <div *ngIf="emailField.touched && emailField.errors">Please fill the name.</div>
                <br />
                <input type="password" name="pwd" placeholder="password" ngModel #pwdField="ngModel" required minlength="6">
                <div *ngIf="pwdField.errors && login.submitted && !isValidFormSubmitted" class="error">
                    <div *ngIf="pwdField.errors.required">Please fill the password.</div>
                    <div *ngIf="pwdField.errors.minlength">Pleasejghgjh fill the password.</div>
                </div>
                
                <br />
                <input type="submit" value="submit">
        </form>
</section> -->
<section class="sample-app-content">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of user_list">
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.username}}</td>
            <td><button (click)="editUser(user.id)"><i class="fa fa-edit" aria-hidden="true"></i></button>&nbsp;&nbsp;<button (click)="editUser()"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
        </tbody>
      </table>
</section>
