<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/Home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/UserList">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/owner" >Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
<router-outlet></router-outlet>